.card-header {
  background: linear-gradient(90deg, #0c7ea9, #17a6be);
}

.form-label {
  font-weight: 700;
  color: #214057;
}

.btn-primary {
  background-color: #0c7ea9;
  border-color: #0c7ea9;
}

.btn-primary:hover {
  background-color: #065d7f;
  border-color: #065d7f;
}
